@import "../../palette.scss";

.navbar {
  display: flex;
  align-items: center;
  background: $theme-color3;
  width: 100%;
  box-shadow: 0 2px 7px -4px #000;
}

.navbar-wrapper-item {
  display: flex;
  align-self: stretch;
}

.navbar-list {
  display: flex;
  align-self: stretch;
  margin: 0;
}

.navbar .logo {
  color: $theme-color2;
  padding: 0.4rem 0 0.4rem 2rem;
  text-shadow: 0 0 5px $theme-color4;
  cursor: default;
}

.navbar .logo::selection {
  background: transparent;
}

.navbar-list > li {
  color: #fff;
  list-style-type: none;
  padding: 0.3rem;
  float: left;
  display: flex;
  align-self: stretch;
  align-items: center;
  font-weight: bold;
}

.navbar-list > li:hover > a {
  transition: ease-in-out 0.3s;
  color: $theme-color5;
}

.navbar-list > li:hover > a::after,
.navbar-list > li:hover > a::before {
  transition: ease-in-out 0.3s;
  background: $theme-color5;
  height: 50%;
}

.navbar-list > li > a {
  transition: ease-in-out 0.3s;
  text-decoration: none;
  color: $theme-color2;
  text-align: center;
  min-width: 50px;
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}

.navbar-list > li > a::after,
.navbar-list > li > a::before {
  position: relative;
  height: 1rem;
  width: 2px;
  background: $theme-color2;
  content: "";
  transition: ease-in-out 0.3s;
}

.navbar-list > li > a::before {
  margin-right: 0.4rem;
}

.navbar-list > li > a::after {
  margin-left: 0.4rem;
}
