.navbar {
    display: flex;
    align-items: center;
    background: rgb(0, 104, 23);
    width: 100%;
    box-shadow: 0 2px 7px #000;
}

.navbar-wrapper-item {
    display: flex;
    align-self: stretch;
}

.navbar-list {
    display: flex;
    align-self: stretch;
    margin: 0;
}

.navbar .logo {
    color: #FFF;
    padding: .4rem 0 .4rem 2rem;
    text-shadow: 0 0 5px rgb(255, 230, 1);
    cursor: default;
}

.navbar .logo::selection {
    background: transparent;
}

.navbar-list > li {
    color: #FFF;
    list-style-type: none;
    padding: .3rem;
    float: left;
    display: flex;
    align-self: stretch;
    align-items: center;
    font-weight: bold;
}

.navbar-list > li:hover > a {
    transition: ease-in-out .3s;
    color: rgb(255, 160, 160);
}

.navbar-list > li:hover > a::after,
.navbar-list > li:hover > a::before {
    transition: ease-in-out .3s;
    background: rgb(255, 160, 160);
    height: 50%;
}

.navbar-list > li > a {
    transition: ease-in-out .3s;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    min-width: 50px;
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;
}

.navbar-list > li > a::after,
.navbar-list > li > a::before {
    position: relative;
    height: 1rem;
    width: 2px;
    background: #FFF;
    content: '';
    transition: ease-in-out .3s;
}

.navbar-list > li > a::before {
    margin-right: .4rem;
}

.navbar-list > li > a::after {
    margin-left: .4rem;
}