@import "../../palette.scss";

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;
  background: $theme-color3;
  color: $theme-color2;
  font-weight: bold;
  align-self: stretch;
  width: 100%;
}
