.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem .5rem;
    background: rgb(0, 104, 23);
    color: #FFF;
    font-weight: bold;
    align-self: stretch;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}