.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem .5rem;
    background: rgb(0, 104, 23);
    color: #FFF;
    font-weight: bold;
    align-self: stretch;
    width: 100%;
    box-shadow: 0 -2px 7px #000;
}