.dynamic-table-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.dynamic-table>thead th, .dynamic-table>tbody td {
    padding: .5rem 1rem;
    max-width: calc(100vw / 4);
    word-break: break-word;
}

.dynamic-table>thead th {
    background: rgb(17, 128, 76);
    color: #EFEFEF;
    border: 1px solid #000;
}

.dynamic-table>tbody td {
    background: rgb(209, 209, 209);
    color: #333;
    border: 1px solid rgb(143, 143, 143);
}