@import "../../palette.scss";

.dynamic-table-wrapper {
  margin: auto;
  width: 70%;
  max-width: 100vw;
  max-height: 300px;
  overflow: auto;
}

.dynamic-table > thead th,
.dynamic-table > tbody td {
  padding: 0 .6rem;
  text-align: center;
  white-space: nowrap;
  border-radius: 5px;
}

.dynamic-table > thead th {
  padding: .6rem .6rem;
}

.dynamic-table > tbody td:first-child {
  text-align: left;
  max-width: 100vw;
  width: 100%;
}

.dynamic-table > thead th {
  background: $theme-color5;
  color: $theme-color1;
}

.dynamic-table > tbody td {
  background: $theme-color7;
  color: #333;
}

.dynamic-table > tbody td > button {
  color: $theme-color1;
}

.dynamic-table tbody tr td:last-child button {
  margin: 0.1rem;
}

.dynamic-table {
  width: 100%;
}

.table-date-input {
  border: none;
  background: transparent;
  outline: none;
  transition: .3s;
  position: relative;
}

.table-date-input::after {
  content: '';
  height: 0px;
  width: 0px;
  background: $theme-color1;
  transition: .3s;
  position: absolute;
  bottom: 0;
  left: 0;
}

.table-date-input:focus::after {
  content: '';
  height: 2px;
  width: 100%;
  transition: .3s;
}

@media screen and (max-width: 768px) {
  .dynamic-table-wrapper {
    width: auto;
  }
}