@import "../src/palette.scss";

html,
body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

.btn {
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px -2px #000;
  background: transparent;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  padding: 1ch 2ch;
}

.btn-danger {
  background: $theme-color-danger;
  color: $theme-color1;
  border: none;
  box-shadow: 0 0 5px -2px #000;
}

.btn-info {
  background: $theme-color-info;
  color: $theme-color1;
  border: none;
  box-shadow: 0 0 5px -2px #000;
}

.btn-success {
  background: $theme-color-success;
  color: $theme-color1;
  border: none;
  box-shadow: 0 0 5px -2px #000;
}

.btn-default {
  background: $theme-color-default;
  color: $theme-color1;
  border: none;
  box-shadow: 0 0 5px -2px #000;
}

.btn:hover {
  background: rgb(233, 233, 233);
}

.btn.btn-danger:hover {
  background: $theme-color-danger-transparent-dark;
}

.btn.btn-info:hover {
  background: $theme-color-info-transparent-dark;
}

.btn.btn-success:hover {
  background: $theme-color-success-transparent-dark;
}

.btn.btn-default:hover {
  background: $theme-color-default-transparent-dark;
}

.app-content-container {
  padding: 1rem;
}

.calendar-item-data::-webkit-scrollbar,
.dynamic-table > tbody td::-webkit-scrollbar {
  width: 6px;
  border-radius: 50px;
  height: 6px;
}

.calendar-item-data::-webkit-scrollbar-track,
.dynamic-table > tbody td::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 50px;
}

.calendar-item-data::-webkit-scrollbar-thumb,
.dynamic-table > tbody td::-webkit-scrollbar-thumb {
  background: rgb(199, 199, 199);
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

.calendar-item-data::-webkit-scrollbar-thumb:hover,
.dynamic-table > tbody td::-webkit-scrollbar-thumb:hover {
  background: rgb(179, 179, 179);
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .app-content-container {
    width: 100%;
    padding: 0.3rem;
  }
}
