/* 
 * Application main theme
*/
$theme-color1: rgba(54, 65, 62, 1);
$theme-color2: rgba(255, 225, 198, 1);
$theme-color3: rgba(75, 78, 109, 1);
$theme-color4: rgba(202, 207, 214, 1);
$theme-color5: rgba(214, 229, 227, 1);
$theme-color6: rgb(255, 160, 160);
$theme-color7: rgb(236, 236, 236);

/*
 * Others themes
*/
$theme-color-danger: rgb(240, 116, 116);
$theme-color-info: rgb(190, 190, 241);
$theme-color-success: rgb(161, 221, 161);
$theme-color-default: rgb(179, 179, 179);

$theme-color-danger-transparent-dark: rgba(221, 22, 22, 0.6);
$theme-color-info-transparent-dark: rgba(117, 117, 255, 0.6);
$theme-color-success-transparent-dark: rgba(49, 204, 49, 0.6);
$theme-color-default-transparent-dark: rgba(122, 122, 122, 0.6);

$theme-color-danger-dark: rgb(110, 38, 38);
$theme-color-info-dark: rgb(72, 72, 105);
$theme-color-success-dark: rgb(67, 107, 67);
$theme-color-default-dark: rgb(78, 78, 78);